<head>
    <style>
        .title {
        background-color: white;
        color: darkslategrey;
        }
    </style>
     <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">   
</head>
<nav class="navbar navbar-default" role="navigation">
    <font face = "Arial">
            <br>
        <font face = "Montserrat" style="position: relative; margin:25px 25px; font-size:20px;">TinyApp</font>
        <div class="container-fluid">   
            <div class="navbar-header">
                <br>
            
             
            
            
            <a style="text-decoration: none" class="navbar-brand" href="https://github.com/nfdoyle">
                
                
                @nfdoyle
            </a>
    
            <ul class="nav navbar-nav">
                <li><a style="text-decoration: none" href="/urls">my URLS</a></li>
                <li><a style="text-decoration: none" href="/urls/new">add URL</a></li>
                <li><a style="text-decoration: none" href="/register">Register</a></li>
                <li>
                        <% if (!user.id){ %>
                    <a style="text-decoration: none" href="/login">Login</a>
                    <%} else {%>
                    <a style="text-decoration: none" href="/logout">Logout [<%= user.email %>]</a>   
                    <%}%>
                </li>
            </ul>
        </div>
    </font>
    </div>
    </nav>