<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
    
        <div class="navbar-header">
            <h1>TinyApp</h1>
            <a class="navbar-brand" href="https://github.com/nfdoyle">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                
                @nfdoyle
            </a>
    
            <ul class="nav navbar-nav">
                <li><a href="/urls">URLS</a></li>
                <li><a href="/urls/new">add URL</a></li>
            </ul>
        </div>
    
    </div>
    </nav>