<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <style>
        div {
              background-color: whitesmoke;
              border-radius: 10px;
            }
      </style>
</head>


<body style="font-size:20px; padding:50px;">
    <header>
        <div>
        <% include ./partials/_header %>
        </div>
    </header>
    <!-- Add your EJS code here -->
    <div>
    <h3>
        You broke me. What did I ever do to you?
    </h3>
    
    </div>
</body>
</html>

