<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
   <style> 
        html, body {
            margin: 0;
            height: 100%;
            background-color: white;
            color: white;
  }

        div {
            background-color: white;
            
        }
    </style>
</head>
<!-- padding:50px; -->
<body style="font-size:20px; ">
    <header>
        <div>
        <% include ./partials/_header %>
        </div>
    </header>
    <!-- Add your EJS code here -->
    <div>
    <table style="width:100%">
        <% for (url in urls) { %>
            <% if (urls[url].creator == user.id || urls[url].creator == 'admin') { %>
            <tr>
                <td>  <%= urls[url].url%></td>
                <td> → </td> 
                <td><%=urls[url].id%></td>
                <td><form action="/urls/<%=url%>" method="get">
                    <input type="submit" value="🔧" id="frm1_submit" />
                </form></td>
                <td>
                    <form method="POST" action="/urls/<%= url %>/delete">
                        <button>🗑</button>
                    </form></td>
                    
            </tr>  
          <% }; %> 
        <% }; %>      
      </table>
      </div>

</body>
</html>


