<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
   <style> body { 
        /* The image used */
        /* background-image: url(/views/background.jpeg);
      
        background-color: black;  */
        
        }
        div {
            background-color: whitesmoke;
            border-radius: 10px;
        }
    </style>
</head>

<body style="font-size:20px; padding:50px;">
    <header>
        <div>
        <% include ./partials/_header %>
        </div>
    </header>
    <!-- Add your EJS code here -->
    <div>
    <table style="width:100%">
        <% for (url in urls) { %>
          <tr>
              <td><%= urls[url]%></td>
              <td> → </td> 
              <td><%=url%></td>
              <td><form action="/urls/<%=url%>" method="get">
                <input type="submit" value="🔧" id="frm1_submit" />
            </form></td>
              <td>
                <form method="POST" action="/urls/<%= url %>/delete">
                    <button>🗑</button>
                </form></td>
          </tr>  
        <% }; %>      
      </table>
      </div>

</body>
</html>


