<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>

<body>
    <header>
        <% include ./partials/_header %>
    </header>
    <!-- Add your EJS code here -->
    <ul>
      <% for (url in urls) { %>
          <li><%= urls[url]%> - <%=url%></li>
      <% }; %>
    </ul>
</body>
</html>


